<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	<bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:8889/table_footbook"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="persistenceUnitManager" 
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="defaultDataSource" ref="datasource"/>
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>	
	</bean>
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager"/>
		<property name="persistenceUnitName" value="UP_FOOTBOOK"/>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	
	<tx:annotation-driven/>
	<context:annotation-config></context:annotation-config>
	
	<bean id="dao" class="com.footbook.app.dao.FootbookDaoImpl"></bean>
	<bean id="metier" class="com.footbook.app.metier.JoueurMetierImpl">
		<property name="fbDao" ref="dao"></property>
	</bean>
	<bean id="UserMetier" class="com.footbook.app.metier.UserMetierImpl">
		<property name="fbDao" ref="dao"></property>
	</bean>
	<bean id="RoleMetier" class="com.footbook.app.metier.RoleMetierImpl">
		<property name="fbDao" ref="dao"></property>
	</bean>
	<bean id="VilleMetier" class="com.footbook.app.metier.VilleMetierImpl">
		<property name="fbDao" ref="dao"></property>
	</bean>
	
	<security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/profil/**" access="hasRole('ROLE_JOUEUR')"/>
		<security:form-login 
		login-page="/accueil" 
		default-target-url="/profil"
        username-parameter="j_username" 
        password-parameter="j_password"
        login-processing-url="/j_spring_security_check"
		/>
		<security:logout logout-success-url="/logout"/>
		<security:csrf disabled="true"/>
		<!-- <security:form-login 
        	login-page="/login" 
        	default-target-url="/profil" 
        	username-parameter="j_username" 
        	password-parameter="j_password"
        	always-use-default-target="true"
        	login-processing-url="/j_spring_security_check" />  -->
	</security:http>
	<security:authentication-manager>
		<security:authentication-provider>
			<!--  <security:password-encoder hash="md5"></security:password-encoder> -->
			<security:jdbc-user-service data-source-ref="datasource"
			users-by-username-query="select email, password, actived from users where email=?"
			authorities-by-username-query="select u.email,r.roleName from users u, role r where u.user_id = r.user_id and u.email =? "/>
			<!--<security:user-service>
				<security:user name="test" password="test" authorities="ROLE_JOUEUR"/>
			</security:user-service>-->
		</security:authentication-provider>
	</security:authentication-manager>
	
	
</beans>
